<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">V1T3Z4's Blog</a></h1>
        </div>

        <div>
            <p>published: 09.10.2025, 9:36</p>
            <h2><a href="">My first post</a></h2>
            <p>Nice</p>
        </div>

        <div>
            <p>published: 09.10.2025, 9:36</p>
            <h2><a href="">My second post</a></h2>
            <p>Good job!</p>
        </div>
    </body>
</html>